@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
* {
  font-family: "Exo 2", sans-serif;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

html {
  scroll-behavior: smooth;
}
